@font-face {
  font-family: monserratfuentecustom;
  src: url(fonts/monserrat-regular.ttf);
}

body {
  background: rgb(6, 1, 17);
}

h1 {
  color: aqua;
  font-family: "mansalva", arial;
  font-style: italic; /* italic pone la letra en cursiva*/
  text-transform: uppercase;
  font-size: 45px;
}

h3 {
  color: aquamarine;
  font-family: monserratfuentecustom, "comic sans MS";
  font-weight: lighter; /* lighter pone la letra mas delgada*/
  font-size: 45px;
}

p {
  color: rgb(153, 99, 238);
  font-family: impact;
  font-size: 18px;
  font-weight: 200px; /*=== Weight es la anchura de la letra===*/
  font-weight: bold; /* bold pone la letra mas oscura es decir en negrita*/
}
